<div class="modal-dialog" 
     style="width:1000px;">
     
  <div class="modal-content" >
    <div class="modal-header" style="background-color:#C5C5C5;padding:5px">
       <div class="graph-title">
        {{graphParams.companyName}} <i>for</i> {{graphParams.ownerName}}
       </div>
       <div>
           <button ng-repeat="duration in durationKeys"
                   type="button"
                   class="btn btn-info btn-sm duration-btn pull-right" 
                   ng-class="getDurationBtnClass( duration )"
                   ng-click="setDuration( duration )">
                {{duration}}
           </button>
       </div>
    </div>
    
    <div class="modal-body">
        <canvas id="eodGraph" 
                width="1000" 
                height="500">
            [No canvas support]
        </canvas>
    </div>
    
    <div class="modal-footer">
      <button type="button" 
              class="btn btn-info btn-sm" 
              ng-click="hideGraphDialog()">
            Ok
      </button>
    </div>
    
    <p>
  </div>
</div>
