<!DOCTYPE html>
<html ng-app="capitalystNgApp">
<head>
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Equity Markets</title>

    <script src="/js/lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="/js/lib/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/lib/angular/angular-route.min.js"></script>
    <script src="/js/lib/angular/confirm/angular-confirm.min.js"></script>
    <script src="/js/lib/moment/moment.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/lib/daterangepicker/daterangepicker.js"></script>
    <script src="/js/lib/treetable/jquery.treetable.js"></script>
    <script src="/js/lib/simple_pivot/simple_pivot.js"></script>
    <script src="/js/lib/chart/chart.min.js"></script>
    <script src="/js/lib/chart/chartjs-adapter-moment.js"></script>

    <link rel="stylesheet" href="/js/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/js/lib/angular/confirm/angular-confirm.min.css"/>
    <link rel="stylesheet" href="/js/lib/daterangepicker/daterangepicker-bs3.css"/>
    <link rel="stylesheet" href="/js/lib/treetable/jquery.treetable.css"/>
    <link rel="stylesheet" href="/js/lib/treetable/jquery.treetable.theme.css"/>
    <link rel="stylesheet" href="/css/fa/css/all.min.css">
    
    <link rel="stylesheet" href="/css/pure/tables.css"/>

    <!-- App specific includes -->
    <link rel="stylesheet" href="/css/app/app.css"/>
    <link rel="stylesheet" href="/css/app/form.css"/>

    <script src="/js/app/app-ng-non-fu.js"></script>
    <script src="/js/app/filter.js"></script>

    <!-- Module specific includes -->
    <link rel="stylesheet" href="/views/equity_mkt/css/equity_mkt.css"/>
    
    <script src="/views/equity_mkt/js/controller.js"></script>
    <script src="/views/equity_mkt/js/directive.js"></script>
    <script src="/views/equity_mkt/js/route.js"></script>
    <script src="/views/equity_mkt/js/filter.js"></script>
    
    <!-- Portfolio route specific includes -->
    <link rel="stylesheet" href="/views/equity_mkt/route/portfolio/css/portfolio.css"/>
    <script src="/views/equity_mkt/route/portfolio/js/portfolio_controller.js"></script>
    <script src="/views/equity_mkt/route/portfolio/js/txns_display_dialog_controller.js"></script>
    <script src="/views/equity_mkt/route/portfolio/js/graph_display_dialog_controller.js"></script>

    <!-- Profitloss route specific includes -->
    <link rel="stylesheet" href="/views/equity_mkt/route/profitloss/css/profitloss.css"/>
    <script src="/views/equity_mkt/route/profitloss/js/profitloss_controller.js"></script>

    <!-- Buy route specific includes -->
    <link rel="stylesheet" href="/views/equity_mkt/route/buy/css/buy.css"/>
    <script src="/views/equity_mkt/route/buy/js/buy_controller.js"></script>

    <!-- Recommendation route specific includes -->
    <link rel="stylesheet" href="/views/equity_mkt/route/reco/css/reco.css"/>
    <script src="/views/equity_mkt/route/reco/js/gradient_gen.js"></script>
    <script src="/views/equity_mkt/route/reco/js/reco_controller.js"></script>

    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</head>

<body ng-controller="EquityMktLandingController"
      style="background-color: #FFFFFF;">

<nav class="navbar navbar-inverse navbar-static-top"
     style="min-height:0px;margin-bottom:0px;">
    <div class="container" style="width:100%">
        <div class="row" >
            <div class="col-sm-7">
                [ <a href="/views/landing/landing.html">Capitalyst</a> ] - {{navBarTitle}}
            </div>
            <div class="col-sm-5">
                <!-- Space for controls common to module -->
            </div>
        </div>
    </div>
</nav>

<div class="alert alert-danger alert-dismissible" ng-repeat="alert in alerts">
<a ng-click="dismissAlert( $index )" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{alert.msg}}
</div>

<div id="split-pane">
    <div id="icon-bar">
      <a ng-class="getActiveClass('portfolio')" 
         href="#!/portfolio">
        <i class="fa fa-chart-pie"></i>
      </a>
      <a ng-class="getActiveClass('profitloss')" 
         href="#!/profitloss">
        <i class="fa-solid fa-hand-holding-dollar"></i>
      </a>
      <a ng-class="getActiveClass('buy')" 
         href="#!/buy">
        <i class="fa-solid fa-piggy-bank"></i>
      </a>
      <a ng-class="getActiveClass('reco')" 
         href="#!/reco">
        <i class="fa-solid fa-lightbulb"></i>
      </a>
    </div>
    <div id="module-panel">
        <div ng-view></div>
    </div>
</div>

<div id="serverInteractionLoader" 
     class="modal loader" 
     role="dialog"
     data-backdrop="static">
</div>

</body>
</html>