<div style="padding: 0px; margin: 10px" align="center">
    <table class="table table-bordered table-compact js-sort-table"
           style="width: auto !important;">
        <thead>
            <tr class="success">
                <th class="js-sort-none">
                    <span class="glyphicon glyphicon-resize-full"
                          ng-if="holdingType == 'Family'"
                          ng-click="changeHoldingType( 'Individual' )">
                    </span>
                    <span class="glyphicon glyphicon-resize-small"
                          ng-if="holdingType == 'Individual'"
                          ng-click="changeHoldingType( 'Family' )">
                    </span>
                </th>
                <th ng-if="holdingType == 'Individual'">Owner</th>
                <th></th>
                <th>Company</th>
                <th>Qty</th>
                <th>Price</th>
                <th class="js-sort-number">LTCG%</th>
                <th class="js-sort-number">Cost price</th>
                <th class="js-sort-number">Mkt Value</th>
                <th class="js-sort-number">Sell Value</th>
                <th class="js-sort-number">PAT</th>
                <th class="js-sort-number">PAT %</th>
                <th class="js-sort-number">D-Gain</th>
                <th class="js-sort-none">Trend</th>
                <th>
                    <span class="glyphicon glyphicon-refresh"
                          ng-click="triggerJob()">
                    </span>
                </th>
            </tr>
        </thead>
        
        <tbody ng-repeat="holding in equityHoldings" style="border:none;">
            <tr ng-class="getRowClass( holding )"
                ng-show="holding.visible">
                
               <td>
                 <input type="checkbox" 
                        ng-model="holding.selected"
                        ng-change="holdingSelectionChanged( holding )"/>
               </td>
               <td ng-if="holdingType == 'Individual'"
                   ng-dblclick="selectAllHoldingsForOwner( holding.ownerName )">
                    {{holding.ownerName}}
               </td>
               <td>
                    <a ng-href="{{holding.detailUrl}}#advchart" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
               </td>
               <td ng-dblclick="selectAllHoldingsForSymbol( holding.symbolIcici )"
                   style="font-size:11px;">
                   <span data-toggle="tooltip" title="{{holding.companyName}}">
                        {{holding.symbolIcici}}
                   </span>
               </td>
               <td class="fixed-font amt"
                   ng-dblclick="showTransactionsDialog(holding)">
                    {{holding.quantity}}
               </td>
               <td class="fixed-font amt">{{holding.currentMktPrice}}</td>
               <td class="fixed-font amt">{{(holding.ltcgQty/holding.quantity)*100 | number:1.0-1}}%</td>
               <td class="fixed-font amt">{{holding.valueAtCost | amt}}</td>
               <td class="fixed-font amt">{{holding.valueAtMktPrice | amt}}</td>
               <td class="fixed-font amt">
                    {{ (holding.valueAtCost + holding.pat) | amt}}
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.pat)">
                   {{holding.pat | amt}}
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.patPct)">
                   {{holding.patPct | amt}}%
               </td>
               <td class="fixed-font amt">
                   {{holding.dayGain | amt}}
               </td>
               <td>
                  <span id="spark_{{$index}}"></span>
               </td>
               <td>{{holding.lastUpdate | date : "dd MMM" }}</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr class="success">
                <th ng-if="holdingType == 'Individual'" colspan="8"></th>
                <th ng-if="holdingType == 'Family'"     colspan="7"></th>
                <th class="fixed-font amt">{{totalValueAtCost | amt}}</th>
                <th class="fixed-font amt">{{totalValueAtNav | amt}}</th>
                <th class="fixed-font amt">{{totalPAT | amt}}</th>
                <th class="fixed-font amt">{{totalPATPct | amt}}%</th>
                <th class="fixed-font amt">{{totalDayGain | amt}}</th>
                <th></th>
                <th></th>
            </tr>
            <tr class="success">
                <th ng-if="holdingType == 'Individual'" colspan="8"></th>
                <th ng-if="holdingType == 'Family'"     colspan="7"></th>
                <th class="fixed-font amt">{{valueAtCostOfSelectedHoldings | amt}}</th>
                <th class="fixed-font amt">{{redemptionValueOfSelectedHoldings | amt}}</th>
                <th class="fixed-font amt">{{profitValueOfSelectedHoldings | amt}}</th>
                <th class="fixed-font amt">
                    {{(profitValueOfSelectedHoldings/valueAtCostOfSelectedHoldings)*100 | number:0}}%
                </th>
                <th class="fixed-font amt">{{dayGainOfSelectedHoldings | amt}}</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="txnsDisplayDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'route/portfolio/dialog/txns_display_dialog.html'"
     ng-controller="TxnsDisplayDialogController">
</div>