<div style="padding: 0px; margin: 10px" align="center">
    <table class="table table-bordered table-compact"
           style="width: auto !important;">
        <thead>
            <tr class="success">
                <th ng-click="sortRows('symbol', 'symbolIcici', 'string')">
                    Company
                </th>
                <th ng-click="sort('sellValue')">
                    Sell Value
                </th>
                <th ng-click="sortRows('pat', 'pat', 'num')">
                    PAT
                </th>
                <th ng-click="sortRows('patPct', 'patPct', 'num')">
                    PAT %
                </th>
                <th ng-click="sortRows('dayChange', 'dayGain', 'num')">
                    D-Change
                </th>
                <th ng-click="sortRows('dayPctChange', 'dayPctChange', 'num')">
                    % Chg
                </th>
                <th ng-click="toggleSparkline()">
                    Trend
                </th>
                <th>
                    <span class="glyphicon glyphicon-flash"
                          style="color:red;font-size:13px;"
                          ng-show="inbetweenServerCall">
                    </span>
                </th>
            </tr>
        </thead>
        
        <tbody ng-repeat="holding in equityHoldings" style="border:none;">
            <tr ng-class="getRowClass( holding )"
                ng-show="holding.visible">
                
               <td ng-if="holdingType == 'Individual'"
                   ng-dblclick="selectAllHoldingsForOwner( holding.ownerName )">
                    {{holding.ownerName}}
               </td>
               <td ng-dblclick="selectAllHoldingsForSymbol( holding.symbolIcici )"
                   style="font-size:11px;">
                   <span data-toggle="tooltip" title="{{holding.companyName}}">
                        {{holding.symbolIcici}}
                   </span>
               </td>
               <td class="fixed-font amt">
                    {{ (holding.valueAtCost + holding.pat) | amt}}
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.pat)">
                   {{holding.pat | amt}}
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.patPct)">
                   {{holding.patPct | number:1}}%
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.dayGain)">
                   {{holding.dayGain | amt}}
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.dayPctChange)">
                   {{holding.dayPctChange | number:1}}%
               </td>
               <td>
                  <span id="spark_{{$index}}"></span>
               </td>
               <td class="fixed-font" style="font-size:10px;">{{holding.lastUpdate | date : "dd MMM HH:mm:ss" }}</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr class="success">
                <th></th>
                <th class="fixed-font amt">{{allTotal.valueAtCost + allTotal.pat | amt}}</th>
                <th class="fixed-font amt"
                    ng-class="getAmtClass(allTotal.pat)">
                    {{allTotal.pat | amt}}
                </th>
                <th class="fixed-font amt"
                    ng-class="getAmtClass(allTotal.patPct)">
                    {{allTotal.patPct | number:1}}%
                </th>
                <th class="fixed-font amt"
                    ng-class="getAmtClass(allTotal.dayGain)">
                    {{allTotal.dayGain | amt}}
                </th>
                <th colspan="3"></th>
            </tr>
        </tfoot>
    </table>
</div>