<table style="width:100%">
 <tr>
  <td width="350px" valign="top"
      ng-show="controlPanelVisible">
  
    <div style="font-size:12px;padding:5px;">
		<div class="panel panel-default" style="margin-bottom:0px;">
		  <div class="panel-heading">
		    <h4 class="panel-title">
		      Duration
		    </h4>
		  </div>
		  <div style="padding:5px;">
		     <div id="ledgerDuration"
		          style="cursor:pointer; padding: 5px 5px; border: 1px solid #ccc;">
		         <span></span> <b class="caret"></b>
		     </div>
		     <span style="display:block;padding:5px;"></span> 
		      <button class="btn btn-info btn-sm"
		              ng-click="selectPrevMonth()">
		        <span class="glyphicon glyphicon-chevron-left"></span>
		      </button>
		      &nbsp;
		      <button class="btn btn-info btn-sm"
		              ng-click="selectNextMonth()">
		        <span class="glyphicon glyphicon-chevron-right"></span>
		      </button>
		  </div>
		</div>
    </div>
	
	<div class="panel-group" id="accordion"
	     style="font-size:12px;padding:5px;">
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" 
	           data-parent="#accordion" 
	           data-target="#amtThreshold">
	        Amount
	        </a>
	      </h4>
	    </div>
	    <div id="amtThreshold" class="panel-collapse collapse form"
	         style="padding: 10px;">
            <label>Lower amount limit</label>
            <input class='form-field'
                   type="number" 
                   ng-model="searchQuery.minAmt" />
            <span style="display:block;padding:5px;"></span> 
            <label>Upper amount limit</label>
            <input class='form-field'
                   type="number" 
                   ng-model="searchQuery.maxAmt" /> 
	    </div>
	  </div>
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" 
	           data-parent="#accordion" 
	           data-target="#customRuleDiv">
	        Custom Rule
	        </a>
	      </h4>
	    </div>
	    <div id="customRuleDiv" class="panel-collapse collapse">
          <textarea class='form-field' 
                    rows="5"
                    ng-model="searchQuery.customRule">
          </textarea> 
	    </div>
	  </div>	  

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" 
               data-parent="#accordion" 
               data-target="#sundryOptionsDiv">
            Sundry options
            </a>
          </h4>
        </div>
        <div id="sundryOptionsDiv" class="panel-collapse collapse"
             style="padding:5px;">
            <input type="checkbox" 
                   ng-model="searchQuery.showOnlyUnclassified"
                   ng-change="showOnlyUnclassifiedCriteriaChanged()"/> Show only unclassified
        </div>
      </div>    
	  
      <span style="display:block;padding:10px;"></span> 
	  <button class="btn btn-info btn-sm"
	          ng-click="searchLedgerEntries()">
	    <span class="glyphicon glyphicon-refresh"></span>
	  </button>
      <button class="btn btn-info btn-sm"
              ng-click="resetSearchCriteria()">
        <span class="glyphicon glyphicon-erase"></span>
      </button>
      <div id="pivot_table_div"></div>
	</div>
  </td>
  <td width="*" valign="top">
    <div ng-include="'template/home/ledger_table.html'">
    </div>
  </td>
 </tr>
</table>

<div id="entryCategorizationDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'template/home/ledger_entry_categorization_dialog.html'">
</div>

<div id="entrySplitDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'template/home/ledger_entry_split_dialog.html'">
</div>