<div class="page-menu-bar">
    <button class="btn btn-default btn-sm"
            ng-click="showCategorizationDialog()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Categorize Selected Entries
    </button>
</div>
<div style="padding: 0px; margin: 10px" align="center">
    <table class="ledger-table"
           style="width: 100%;">
        <thead>
            <tr class="success">
                <th class="js-sort-none">
                <th class="js-sort-none">
                 <input type="checkbox" 
                        ng-model="bulkSelState.value"
                        ng-change="toggleSelectionForAllEntries()"/>
                </th>
                </th>
                <th class="js-sort-valueDate">Date</th>
                <th><div style="display:inline-block;">Remarks</div>
                    <div style="display:inline-block;padding-left:10px;">
	                    <input type="text"
	                           ng-model="$parent.entryFilterText"
	                           ng-change="entryFilterTextChanged()"
	                           size="50"/>
                    </div>
                </th>
                <th ng-if="searchQuery.accountIds.length > 1">
                </th>
                <th class="js-sort-number">Amount</th>
                <th>L1</th>
                <th>L2</th>
                <th>Notes</th>
                <th class="js-sort-number">Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in $parent.ledgerEntries"
                ng-show="entry.visible"
                ng-class="entry.selected ? 'row-selected' : ''">
               <td>
                 <span class="glyphicon glyphicon-plus-sign"
                       ng-click="selectAndCategorize( entry )"></span>
               </td>
               <td>
                 <input type="checkbox" 
                        ng-model="entry.selected"/>
               </td>
               <td class="fixed-font">{{entry.valueDate | date}}</td>
               <td class="remarks" ng-click="entry.selected = !entry.selected">{{entry.remarks | remark}}
               <td ng-if="searchQuery.accountIds.length > 1">
                    {{entry.account.accountOwner}}
               </td>
               <span ng-if="entry.chequePayment"
                     class="glyphicon glyphicon-map-marker"></span>
               </td>
               <td class="fixed-font amt" ng-class="amtClass( entry.amount )">{{entry.amount | amt}}</td>
               <td class="remarks">{{entry.l1Cat}}</td>
               <td class="remarks">{{entry.l2Cat}}</td>
               <td class="remarks">{{entry.notes}}</td>
               <td class="fixed-font amt">{{entry.balance | amt}}</td>
               <td>
                 <span class="glyphicon glyphicon-trash"
                       ng-click="deleteLedgerEntry( $index )"></span>
               </td>
            </tr>
        </tbody>
    </table>
</div>