<div class="page-menu-bar">
	<button class="btn btn-success btn-sm"
	        ng-click="showNewFixedDepositDialog()">
	    <span class="glyphicon glyphicon-plus-sign"></span>
	    New Fixed Deposit
	</button>
</div>

<div style="padding: 0px; margin: 10px" align="center">
    <table class="table table-bordered table-compact js-sort-table"
           style="width: auto !important;">
        <thead>
            <tr class="success">
                <th>Owner</th>
                <th>Type</th>
                <th>A/C #</th>
                <th class="js-sort-number">Balance</th>
                <th>Parent A/C #</th>
                <th class="js-sort-acdt">Open Dt</th>
                <th class="js-sort-acdt">Mature Dt</th>
                <th class="js-sort-number">Open Amt</th>
                <th class="js-sort-number">Mature Amt</th>
                <th class="js-sort-number">%</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="account in accounts">
               <td>{{account.baseAccount.accountOwner}}</td>
               <td>{{account.baseAccount.accountType}}</td>
               <td>{{account.baseAccount.accountNumber}}</td>
               <td class="fixed-font amt">{{account.baseAccount.balance | amt}}</td>
               <td>{{account.parentAccount.accountNumber}}</td>
               <td>{{account.openDate | date}}</td>
               <td>{{account.matureDate | date}}</td>
               <td class="fixed-font amt">{{account.openAmt | amt}}</td>
               <td class="fixed-font amt">{{account.matureAmt | amt}}</td>
               <td class="fixed-font amt">{{account.interestRate}}%</td>
               <td>
                 <span class="glyphicon glyphicon-pencil"
                       ng-click="editAccount( $index )">
                 </span>&nbsp;
               </td>
               <td>
                 <span class="glyphicon glyphicon-duplicate"
                       ng-click="duplicateAccount( $index )">
                 </span>&nbsp;
               </td>
               <td>
                 <span class="glyphicon glyphicon-trash"
                       style="color:red;"
                       ng-click="deleteAccount( $index )">
                 </span>&nbsp;
               </td>
            </tr>
        </tbody>
            <tr class="success">
                <th colspan="3"></th>
                <th class="fixed-font amt">{{totalBalance | amt}}</th>
                <th colspan="9"></th>
            </tr>
        <tfoot>
        </tfoot>
    </table>
</div>

<div id="fixedDepositEditDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'fixed_deposits/edit_fixed_deposit_dialog.html'">
</div>

