<div class="cash_entry_screen_body">
</div>

<div class="cash_entry_screen_footer">
    <div class="container" style="width:100%;height:100%;padding:0;">
      <div class="row" style="height:100%;">
        <div class="col-xs-5" style="height:100%;padding:1px;">
		    <button class="btn btn-primary btn-md cash_entry_footer_btn"
		            ng-click="cancelCashEntry()">
              <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;
		      Cancel
		    </button>
        </div>
        <div class="col-xs-7" style="height:100%;padding:1px;">
		    <button class="btn btn-primary btn-md cash_entry_footer_btn"
                    style="background-color:#5c5e5f;"
		            ng-click="saveCashEntry()">
		      <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;
		      Save
		    </button>
        </div>
      </div>
    </div>
</div>