<div style="padding: 0px; margin: 10px" align="center">
    <table id="equityProfitLossTable"
           class="table table-bordered table-compact"
           style="width: auto !important;">
        <thead>
            <tr class="success">
                <th>
	               <span class="glyphicon glyphicon-unchecked"
	                     ng-click="clearSelections()"></span>
                </th>
                <th ng-click="sortRows('owner', 'parentHolding.ownerName', 'string')">
                    Owner
                </th>
                <th ng-click="sortRows('date', 'txnDate', 'date')">
                    Date
                </th>
                <th ng-click="sortRows('symbol', 'parentHolding.symbolIcici', 'string')">
                    Company
                </th>
                <th></th>
                <th ng-click="sortRows('quantity', 'quantity', 'num')">
                    Qty
                </th>
                <th ng-click="sortRows('txnPrice', 'txnPrice', 'num')">
                    Txn Price
                </th>
                <th ng-click="sortRows('costPrice', 'valueAtCostPrice', 'num')">
                    Cost Price
                </th>
                <th ng-click="sortRows('sellPrice', 'valueAtMktPrice', 'num')">
                    Sell Price
                </th>
                <th ng-click="sortRows('txnCharges', 'sellTxnCharges', 'num')">
                    Txn Chgs
                </th>
                <th ng-click="sortRows('amountRecd', 'amountRecd', 'num')">
                    Amt Recd
                </th>
                <th ng-click="sortRows('tax', 'taxAmount', 'num')">
                    Tax
                </th>
                <th ng-click="sortRows('pat', 'pat', 'num')">
                    PAT
                </th>
                <th ng-click="sortRows('patPct', 'patPct', 'num')">
                    PAT %
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-class="getRowClass( txn )"
                ng-repeat="txn in sellTxns">
               <td>
                 <input type="checkbox" 
                        ng-model="txn.selected"
                        ng-change="txnSelectionChanged()"/>
               </td>
               <td ng-dblclick="selectAllHoldingsForOwner( txn.parentHolding.ownerName )">
                    {{txn.parentHolding.ownerName}}
               </td>
               <td style="text-align:right;">
                    {{txn.txnDate | date : "dd MMM" }}
               </td>
               <td style="font-size:11px;"
                   ng-dblclick="selectAllHoldingsForSymbol( txn.parentHolding.symbolIcici )">
                   <span data-toggle="tooltip" title="{{txn.holding.companyName}}">
                        {{txn.parentHolding.symbolIcici}}
                   </span>
               </td>
               <td>
                    <a ng-click="showGraphDialog( txn )">
                        <span class="glyphicon glyphicon-stats"
                              style="color:#C8C8C8;"></span>
                    </a>
               </td>
               <td class="fixed-font amt">
                    {{txn.quantity}}
               </td>
               <td class="fixed-font amt">
                    {{txn.txnPrice | amt}}
               </td>
               <td class="fixed-font amt">
                    {{txn.valueAtCostPrice | amt}}
               </td>
               <td class="fixed-font amt">
                    {{txn.valueAtMktPrice | amt}}
               </td>
               <td class="fixed-font amt">
                    {{txn.sellTxnCharges | amt}}
               </td>
               <td class="fixed-font amt">
                    {{txn.amountRecd | amt}}
               </td>
               <td class="fixed-font amt">
                    {{txn.taxAmount | amt}}
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(txn.pat)">
                    {{txn.pat | amt}}
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(txn.patPct)">
                    {{txn.patPct | amt}}%
               </td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr class="success">
                <th colspan="7"></th>
                <th class="fixed-font amt">
                    {{allTotal.costPrice | amt}}
                </th>
                <th class="fixed-font amt">
                    {{allTotal.sellPrice | amt}}
                </th>
                <th class="fixed-font amt">
                    {{allTotal.sellTxnCharges | amt}}
                </th>
                <th class="fixed-font amt">
                    {{allTotal.amountRecd | amt}}
                </th>
                <th class="fixed-font amt">
                    {{allTotal.taxAmount | amt}}
                </th>
                <th class="fixed-font amt"
                    ng-class="getAmtClass(allTotal.pat)">
                    {{allTotal.pat | amt}}
                </th>
                <th class="fixed-font amt"
                    ng-class="getAmtClass(allTotal.patPct)">
                    {{allTotal.patPct | amt}}%
                </th>
            </tr>
            <tr class="info">
                <th colspan="7"></th>
                <th class="fixed-font amt">
                    {{selTotal.costPrice | amt}}
                </th>
                <th class="fixed-font amt">
                    {{selTotal.sellPrice | amt}}
                </th>
                <th class="fixed-font amt">
                    {{selTotal.sellTxnCharges | amt}}
                </th>
                <th class="fixed-font amt">
                    {{selTotal.amountRecd | amt}}
                </th>
                <th class="fixed-font amt">
                    {{selTotal.taxAmount | amt}}
                </th>
                <th class="fixed-font amt"
                    ng-class="getAmtClass(selTotal.pat)">
                    {{selTotal.pat | amt}}
                </th>
                <th class="fixed-font amt"
                    ng-class="getAmtClass(selTotal.patPct)">
                    {{selTotal.patPct | amt}}%
                </th>
            </tr>
        </tfoot>
    </table>
</div>
