<div class="modal-dialog" 
     style="width:750px;">
     
  <div class="modal-content" >
    <div class="modal-header" style="background-color:#C5C5C5;padding:5px">
      <h3 class="modal-title">
        Txns for [{{owner}}] {{symbolIcici}} - {{companyName}} - 
        {{holding.currentMktPrice | amt}}
      </h3>
    </div>
    
    <div class="modal-body ledger-entry-div">
        <table class="pure-table pure-table-bordered">
           <thead>
               <tr>
                   <th></th>
                   <th ng-if="holdingType == 'Family'"
                       style="width:100px;">
                   Owner
                   </th>
                   <th style="width:100px;">Date</th>
                   <th style="width:50px;">Quantity</th>
                   <th style="width:80px;">Unit cost</th>
                   <th style="width:80px;">Buy cost</th>
                   <th style="width:80px;">Mkt value</th>
                   <th style="width:80px;">PAT</th>
                   <th style="width:80px;">PAT%</th>
                   <th style="width:30px;">Mths</th>
               </tr>
           </thead>
           <tbody>
              <tr ng-repeat="txn in txns | orderBy:'-'"
                  ng-class="ltcgRowClass(txn)">
	              <td>
	                 <input type="checkbox" 
	                        ng-model="txn.selected"
	                        ng-change="txnSelectionChanged( txn )"/>
	              </td>
                  <td ng-if="holdingType == 'Family'">
                      {{txn.ownerName}}
                  </td>
                  <td class="numeric">
                      {{txn.txnDate | date : "dd/MMM/yyyy"}}
                  </td>
                  <td class="numeric">
                      {{txn.quantityLeft | number : 0}}
                  </td>
                  <td class="numeric">
                      {{txn.txnPrice | number : 1 }}
                  </td>
                  <td class="numeric">
                      {{txn.valueAtCost | amt }}
                  </td>
                  <td class="numeric">
                      {{txn.valuePostTax | amt }}
                  </td>
                  <td class="numeric"
                      ng-class="getAmtClass( txn.pat )">
                      {{txn.pat | amt }}
                  </td>
                  <td class="numeric"
                      ng-class="getAmtClass( txn.patPct )">
                      {{txn.patPct | number : 1 }}%
                  </td>
                  <td class="numeric">
                      {{txn.durationInMonths | number : 0 }}
                  </td>
              </tr>
           </tbody>
           <tfoot>
              <tr style="background-color: #e0e0e0;">
                  <th></th>
                  <th ng-if="holdingType == 'Family'"></th>
                  <th class="numeric"></th>
                  <th class="numeric">
                      {{totalQuantity | number : 0}}
                  </th>
                  <th class="numeric">
                      {{avgCostPrice | number : 1}}
                  </th>
                  <th class="numeric">
                      {{totalCost | amt }}
                  </th>
                  <th class="numeric">
                      {{totalValuePostTax | amt }}
                  </th>
                  <th class="numeric"
                      ng-class="getAmtClass( totalPAT )">
                      {{totalPAT | amt }}
                  </th>
                  <th class="numeric"
                      ng-class="getAmtClass( totalPAT )">
                      {{(totalPAT/totalCost)*100 | number : 1 }}%
                  </th>
                  <th></th>
              </tr>
              <tr style="background-color: #e0e0e0;">
                  <th></th>
                  <th ng-if="holdingType == 'Family'"></th>
                  <th class="numeric"></th>
                  <th class="numeric">
                      {{selectedTxnsTotalQty | number : 0}}
                  </th>
                  <th class="numeric">
                      {{selectedTxnsAvgCost | number : 1}}
                  </th>
                  <th class="numeric">
                      {{selectedTxnsBuyCost | amt }}
                  </th>
                  <th class="numeric">
                      {{selectedTxnsMktValue | amt }}
                  </th>
                  <th class="numeric"
                      ng-class="getAmtClass( selectedTxnsPAT )">
                      {{selectedTxnsPAT | amt }}
                  </th>
                  <th class="numeric"
                      ng-class="getAmtClass( selectedTxnsPATPct )">
                      {{selectedTxnsPATPct | number : 1 }}%
                  </th>
                  <th></th>
              </tr>
           </tfoot>
        </table>        
    </div>
    
    <div class="modal-footer">
      <button type="button" 
              class="btn btn-info btn-sm" 
              ng-click="hideTransactionsDialog()">
            Ok
      </button>
    </div>
    
    <p>
  </div>
</div>
