<p/>

<div class="alert alert-success alert-dismissible" ng-repeat="msg in messages">
<a ng-click="dismissMessage( $index )" 
   class="close" 
   data-dismiss="alert">&times;</a>
{{msg}}
</div>

<table class="pure-table pure-table-bordered">
   <thead>
       <tr>
           <th>
	            <a ng-click="showIndexMetaEditDialog(null)">
	                <span class="glyphicon glyphicon-plus"></span>
	            </a>
           </th>
           <th width="100px">Type</th>
           <th width="350px">Name</th>
           <th></th>
       </tr>
   </thead>
   <tbody>
    <tr ng-repeat="idx in idxList">
        <td>
            <a ng-click="showIndexMetaEditDialog( idx )">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
        <td>{{idx.type}}</td>
        <td>
            <a href="{{idx.includedStocksUrl}}">
                <span class="glyphicon glyphicon-link"></span>
            </a>&nbsp;&nbsp;
            {{idx.name}}
        </td>
        <td>
            <a ng-click="refreshIndex( idx )">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </td>
    </tr>
   </tbody>
</table>

<div id="idxMetaEditorDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'route/idx/dialog/idxmeta_editor_dialog.html'">
</div>