<div class="modal-dialog" style="width:1100px;"
     ng-controller="AssociatedCreditsController">
     
  <div class="modal-content" >
    <div class="modal-header" style="background-color:#E5E5E5;padding:5px">
      <h4 class="modal-title">Associated Credit Transactions</h4>
    </div>
    
    <div class="modal-body" style="background-color:#FEFEFE;padding:5px">
	    <div class="form">
	    
	       <div>
	           <h5>Selected Debit Transaction.
		           <span style="color:red;">
		               Unrecovered amount : {{debitAmtRemaining | amt}}
		           </span> 
	           </h5>
	           <table style="width:100%;" class="ledger-table">
	               <tr>
	                   <td class="fixed-font" width="100px;">
	                       {{debitTxn.valueDate | date}}
	                   </td>
                       <td class="fixed-font amt" width="75px;">
                           {{debitTxn.amount | amt}}
                       </td>
                       <td width="150px;">
                           {{debitTxn.notes}}
                       </td>
                       <td width="250px;">
                           {{debitTxn.l1Cat}} &gt; {{debitTxn.l2Cat}}
                       </td>
		               <td class="remarks fixed-font" style="padding-left:10px;">
		                   {{debitTxn.remarks | remark}}
		                   &nbsp;
		                   <span ng-if="debitTxn.chequePayment"
		                         class="glyphicon glyphicon-map-marker"></span>
		                   <span ng-if="$parent.$parent.isCreditCardEntry( debitTxn )"
		                         class="glyphicon glyphicon-subtitles"></span>
		                   <span ng-if="$parent.$parent.isCashEntry( debitTxn )"
		                         class="glyphicon glyphicon-leaf"></span>
		               </td>
	               </tr>
	           </table>
	       </div>
	       
	       <div>
               <h5>
                    Associated Credit Transaction
               </h5>
               <table style="width:100%;" class="ledger-table">
                   <tr ng-repeat="entry in associatedCreditTxns">
                       <td class="fixed-font" width="10px">
                            {{$index + 1}}
                       </td>
                       <td class="fixed-font" width="100px;">
                           {{entry.creditTxn.valueDate | date}}
                       </td>
                       <td class="fixed-font amt" width="75px;">
                           {{entry.creditTxn.amount | amt}}
                       </td>
                       <td width="150px;">
                           {{entry.creditTxn.notes}}
                       </td>
                       <td width="400px;">
                           {{entry.creditTxn.l1Cat}} &gt; {{entry.creditTxn.l2Cat}}<br/>
                           {{entry.creditTxn.remarks | remark}}
                           &nbsp;
                           <span ng-if="entry.chequePayment"
                                 class="glyphicon glyphicon-map-marker"></span>
                           <span ng-if="$parent.$parent.isCreditCardEntry( entry.creditTxn )"
                                 class="glyphicon glyphicon-subtitles"></span>
                           <span ng-if="$parent.$parent.isCashEntry( entry.creditTxn )"
                                 class="glyphicon glyphicon-leaf"></span>
                           
                       </td>
                       <td width="100px">
                            {{entry.recoveredAmount | amt}}
                       </td>
                       <td width="200px">
                            {{entry.note}}
                       </td>
                       <td width="50px" style="text-align:center;">
                          <span class="glyphicon glyphicon-trash"
                                ng-click="removeCreditAssociation( $index )"></span>
                       </td>
                   </tr>
               </table>
	       </div>
	    </div>
	    
	    <div class="modal-footer">
	      <button type="button" 
	              class="btn btn-default btn-sm" 
	              ng-click="hideAssociatedCreditsDialog()">
	            Done
	      </button>
	    </div>
    </div>
    
  </div>

</div>
