<div class="modal-dialog" style="width:300px;">
  <div class="modal-content">

    <div class="modal-header" style="background-color:#E5E5E5;padding:5px">
      <h4 class="modal-title">Select classification</h4>
    </div>
    
    <div class="modal-body" style="background-color:#FEFEFE;padding:5px">
    
	    <div class="form">
	        <table class="form-table">
	            <tbody>
	                <tr>
	                    <td>
					        <label>L1 Category</label>
					        <select class="form-field" 
					                ng-model="userSel.l1Cat"
					                ng-options="item for item in relevantCategoriesForSelectedEntries.l1Categories">
	                            <option value=""></option>
					        </select>
	                        <input class='form-field' 
	                               type="text" 
	                               ng-change="newL1CategoryEntered()"
	                               ng-model="userSel.l1CatNew" /> 
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        <label>L2 Category</label>
	                        <select class="form-field" 
	                                ng-model="userSel.l2Cat"
	                                ng-options="item for item in relevantCategoriesForSelectedEntries.l2Categories.get(userSel.l1Cat)">
	                            <option value=""></option>
	                        </select>
	                        <input class='form-field' 
	                               type="text" 
	                               ng-change="newL2CategoryEntered()"
	                               ng-model="userSel.l2CatNew" /> 
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        <label>Notes</label>
	                        <input class='form-field' 
	                               type="text" 
	                               ng-model="userSel.notes" /> 
	                    </td>
	                </tr>
	                <tr>
	                    <td>
			                <input type="checkbox" 
			                       ng-model="userSel.saveRule"/> Save rule
	                        <input class='form-field' 
	                               type="text" 
	                               ng-model="userSel.ruleName" /> 
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	    
	    <div class="modal-footer">
	      <button type="button" 
	              class="btn btn-default btn-sm" 
	              ng-click="cancelClassification()">
	            Cancel
	      </button>
	      <button type="button" 
	              class="btn btn-info btn-sm"
	              ng-click="applyClassification()">
	            Apply Classification
	      </button>
	    </div>
	    
	</div>
  </div>
</div>
