.tile {
    float:left;
    position: relative;
    width: 300px;
    height: 300px;
    margin:1.66%;
    overflow:hidden;
}

.tilecontent {
    position:absolute;
    height:100%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 5% 5%;
    text-align:center;
}

.tiletable{
    display:table;
    height:100%;
    width:100%;
}

.tiletable-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    font-size:25px;
}