<div ng-controller="BollingerCfgController">
    <table>
        <tr>
            <td style="width:60%">Num bars</td>
            <td style="width:40%">
               <input type="numeric"
                      ng-model="config.barCount"
                      style="width:100%;"/>
            </td>
        </tr>
        <tr>
            <td>Num StdDev</td>
            <td>
               <input type="numeric"
                      ng-model="config.numStdDev"
                      style="width:100%;"/>
            </td>
        </tr>
    </table>
    <div style="text-align:right;">
        <button type="button"
                class="btn btn-info indicator-cfg-btn"
                ng-click="test()"
                style="color:red;">
           <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="button"
                class="btn btn-info indicator-cfg-btn"
                ng-click="test()"
                style="color:green;">
           <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>
