#action-pane {
    width:100%;
    height:40px;
    background-color:#7c7c7f;
}

#fin-year-select {
	width: 100px;
	height:30px;
	font-size:16px;
	margin: 5px;
}

table.treetable {
	width : 100%;
	border: 0px;
}

table.treetable tr.branch {
	background-color:unset;
	color:blue;
}

table.treetable tr.branch>td {
	font-size:12px;
}

table.treetable tr.branch:not([data-tt-parent-id])>td {
	font-size:14px;
	background-color: #85d5f4;
}

#pivot_table_div {
	padding:0px 10px 0px 10px;
}

#pivot_table_div tr>td:not(:first-child) {
    font-family:'Courier';
}

#pivot_table_div tr>td:last-child {
    color:black;
}

#pivot_table_div tr>td.debit {
    color:red;
}

#pivot_table_div tr>td.credit {
    color:#295f19;
}

#pivot_table_div tr>td.row-total {
	background-color:#f5f8fb;
}

#pivot_table_div tr.leaf td:not(:first-child) {
    color:#4a4a4a!important;
    font-size:11px;
    font-style: italic;
}

#pivot_table_div tr.branch[depth="2"] td:not(:first-child) {
    background-color:#eff5f9;
}
