#split-pane {
    width: 100%;
    height: calc(100vh - 33px );
    display: flex;
}

#icon-bar {
    position:relative;
    width: 65px;
    height: 100%;
    border-style:hidden;
    border-color:#f4f4f4;
    background-color: #555; 
    overflow-y: scroll;    
}

#module-panel {
    position:relative;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
    overflow-y: scroll;
    font-size: 14px;
}

#icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 25px; /* Increased font-size */
}

#icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

#icon-bar .active {
  background-color: #04AA6D; /* Add an active/current color */
}

.pure-table .cat-name {
    background-color: #eef4fa;
}

.pure-table td {
	padding: 3px ;
	font-size: 12px;
}

.centered-cell {
	text-align: center;
}

.numeric {
	width: 70px;
	font-family: "Courier New" ;
	text-align: right ;
}

.ledger-entry-div {
    background-color:#FEFEFE;
    padding:5px;
    height: 500px;	
    overflow-y: scroll;
}

pre {
	border:none;
	background-color:white;
	padding:2px;
	font-family: "Courier New" ;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;	
}