#split-pane {
    width: 100%;
    height: calc(100vh - 33px );
    display: flex;
}

#icon-bar {
    position:relative;
    width: 65px;
    height: 100%;
    border-style:hidden;
    border-color:#f4f4f4;
    background-color: #555; 
    overflow-y: auto;    
}

#icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 25px; /* Increased font-size */
}

#icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

#admin-fn-panel {
    position:relative;
    width: calc(100hh - 65px);
    height: 100%;
    overflow-y: auto;
    margin-left: 20px;
    margin-top: 10px;
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}