#action-pane {
    width:100%;
    height:40px;
    background-color:#7c7c7f;
}

#pivotDuration {
	display:inline-block;
    cursor:pointer; 
    padding: 5px 5px; 
    margin: 5px;
    border: 1px solid #ccc;
    font-size:14px;
    line-height:18px;
    background-color:#f6f7f9;
}

#split-pane {
    width: 100%;
    height: calc(100vh - 33px - 40px);
    display: flex;
}

#category-selection-pane {
    position:relative;
    width: 15%;
    height: 100%;
    border-style:hidden;
    border-color:#f4f4f4;
    background-color: #e2efff;
    overflow-y: auto;    
}

#txn-pivot-panel {
    position:relative;
    width: 85%;
    height: 100%;
    overflow-y: auto;
}

#pane-toggle-tab {
    position: absolute;
    left: 0px;
    top: calc( 50% - 50px );
    width: 15px;
    height: 50px;
    background-color: #b3c0f8;
    
    line-height: 50px;
    text-align: center;
    font-size:15px; 
}

table.treetable {
	width : 100%;
	border: 0px;
}

table.treetable tr.branch {
	background-color:unset;
	color:blue;
}

table.treetable tr.branch>td {
	font-size:12px;
}

table.treetable tr.branch:not([data-tt-parent-id])>td {
	font-size:14px;
	background-color: #85d5f4;
}

#pivot_table_div {
	padding:0px 10px 0px 10px;
}

#pivot_table_div tr>td:not(:first-child) {
    font-family:'Courier';
}

#pivot_table_div tr>td:last-child {
    color:black;
}

#pivot_table_div tr>td.debit {
    color:red;
}

#pivot_table_div tr>td.credit {
    color:#295f19;
}

#pivot_table_div tr>td.row-total {
	background-color:#f5f8fb;
}
