<div style="padding: 0px; margin: 10px" align="center">
    <table class="table table-bordered table-compact"
           style="width: auto !important;">
        <thead>
            <tr class="success">
                <th colspan="3"></th>
                <th colspan="6" style="text-align:center;">
                    Health Attributes
                </th>
                <th colspan="6" style="text-align:center;">
                    Performance %
                </th>
            </tr>
            <tr class="success">
                <th ng-click="sort('health')">
                    <i class="fa-solid fa-hand-holding-medical"></i>
                </th>
                <th ng-click="sort('symbol')">
                    Symbol
                </th>
                <th ng-click="sort('price')">
                    Price
                </th>
                <th ng-click="sort('mktcap')">
                    Market Cap
                </th>
                <th ng-click="sort('beta')">
                    &#x3B2;
                </th>
                <th ng-click="sort('cagr')">
                    CAGR
                </th>
                <th ng-click="sort('mc')">
                    MC
                </th>
                <th ng-click="sort('pe')">
                    PE
                </th>
                <th ng-click="sort('pscore')">
                    P
                </th>
                <th ng-click="sort('perf1W')" style="width:50px;">
                    1W
                </th>
                <th ng-click="sort('perf1M')" style="width:50px;">
                    1M
                </th>
                <th ng-click="sort('perf3M')" style="width:50px;">
                    3M
                </th>
                <th ng-click="sort('perfYTD')" style="width:50px;">
                    YTD
                </th>
                <th ng-click="sort('perf1Y')" style="width:50px;">
                    1Y
                </th>
                <th ng-click="sort('perf3Y')" style="width:50px;">
                    3Y
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="reco in recommendations">
               <td class="fixed-font" style="text-align:right;"
                   ng-class="getCellClass( 'health', reco.goodnessScore )">
                    {{reco.goodnessScore | amt}}
               </td>
               <td>
                    <a ng-href="{{reco.equityMaster.detailUrl}}#advchart" target="_blank">
                        {{reco.symbolNse}}&nbsp;&nbsp;
                    </a>
                    <i ng-if="reco.inPortfolio" 
                       class="fa-solid fa-map-pin"
                       style="color:red;"></i>
               </td>
               <td class="fixed-font" style="text-align:right;">
                    {{reco.indicators.currentPrice | amt }}
               </td>
               <td class="fixed-font" style="text-align:right;">
                    {{reco.indicators.marketCap | amt }}
               </td>
               <td class="fixed-font" style="text-align:right;">
                    {{reco.indicators.beta | number:1}}
               </td>
               <td class="fixed-font" style="text-align:right;">
                    {{reco.indicators.cagrEbit | number:2 }}
               </td>
               <td class="fixed-font" style="text-align:right;">
                    {{reco.indicators.mcEssentialScore | number:0 }}
               </td>
               <td class="fixed-font" style="text-align:right;">
                    {{reco.indicators.pe | number:0}}
               </td>
               <td class="fixed-font" style="text-align:right;">
                    {{reco.indicators.piotroskiScore | number:0}}
               </td>
               <td class="fixed-font" style="text-align:right;"
                   ng-class="getCellClass( 'perf1W', reco.indicators.pricePerf1W )">
                    {{reco.indicators.pricePerf1W | number:1}}
               </td>
               <td class="fixed-font" style="text-align:right;"
                   ng-class="getCellClass( 'perf1M', reco.indicators.pricePerf1M )">
                    {{reco.indicators.pricePerf1M | number:1}}
               </td>
               <td class="fixed-font" style="text-align:right;"
                   ng-class="getCellClass( 'perf3M', reco.indicators.pricePerf3M )">
                    {{reco.indicators.pricePerf3M | number:1}}
               </td>
               <td class="fixed-font" style="text-align:right;"
                   ng-class="getCellClass( 'perfYTD', reco.indicators.pricePerfYTD )">
                    {{reco.indicators.pricePerfYTD | number:1}}
               </td>
               <td class="fixed-font" style="text-align:right;"
                   ng-class="getCellClass( 'perf1Y', reco.indicators.pricePerf1Y )">
                    {{reco.indicators.pricePerf1Y | number:1}}
               </td>
               <td class="fixed-font" style="text-align:right;"
                   ng-class="getCellClass( 'perf3Y', reco.indicators.pricePerf3Y )">
                    {{reco.indicators.pricePerf3Y | number:1}}
               </td>
            </tr>
        </tbody>
    </table>
</div>
