<div class="page-menu-bar">
    <button class="btn btn-default btn-sm"
            ng-click="showCategorizationDialog()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Categorize Selected Entries
    </button>
    <button class="btn btn-default btn-sm"
            ng-click="toggleControlPanel()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Toggle control panel
    </button>
</div>
<div style="padding: 0px; margin: 10px" align="center">
    <table class="ledger-table"
           style="width: 100%;">
        <thead>
            <tr class="success">
                <th></th>
                <th class="js-sort-none">
                 <input type="checkbox" 
                        ng-model="bulkSelState.value"
                        ng-change="toggleSelectionForAllEntries()"/>
                </th>
                <th style="width:100px;" class="js-sort-valueDate">Date</th>
                <th style="width:300px;">
                    <div style="display:inline-block;">Remarks</div>
                    <div style="display:inline-block;padding-left:10px;">
	                    <input type="text"
	                           ng-model="$parent.entryFilterText"
	                           ng-change="entryFilterTextChanged()"
	                           size="50"/>
                    </div>
                </th>
                <th ng-if="searchQuery.accountIds.length > 1">
                </th>
                <th></th>
                <th class="js-sort-number">Amount</th>
                <th>Notes</th>
                <th style="width:130px;">L1</th>
                <th style="width:130px;">L2</th>
                <th class="js-sort-number"
                    ng-if="searchQuery.accountIds.length == 1">Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in $parent.ledgerEntries"
                ng-show="entry.visible"
                ng-class="entry.selected ? 'row-selected' : ''">
               <td>
                 <span class="glyphicon glyphicon-plus-sign"
                       ng-click="selectAndCategorize( entry )"></span>
               </td>
               <td>
                 <input type="checkbox" 
                        ng-model="entry.selected"/>
               </td>
               <td class="fixed-font">{{entry.valueDate | date}}</td>
               <td class="remarks" ng-click="selectEntry(entry)">
	               {{entry.remarks | remark}}
	               &nbsp;
	               <span ng-if="entry.chequePayment"
	                     class="glyphicon glyphicon-map-marker"></span>
                   <span ng-if="isCreditCardEntry( entry )"
                         class="glyphicon glyphicon-subtitles"></span>
                   <span ng-if="isCashEntry( entry )"
                         class="glyphicon glyphicon-leaf"></span>
               </td>
               <td ng-if="searchQuery.accountIds.length > 1">
                    {{entry.account.accountOwner}}
               </td>
               <td>
                <span class="glyphicon glyphicon-scissors"
                      ng-if="entry.amount < 0"
                      ng-click="showSplitLedgerEntryDialog( $index )"></span>
                      
                <span class="glyphicon glyphicon-object-align-horizontal"
                      ng-if="entry.amount > 0"
                      style="color:lightgray;"
                      ng-click="showDebitRecoveryDialog( $index )"></span>
               </td>
               <td class="fixed-font amt" ng-class="amtClass( entry.amount )">{{entry.amount | amt}}</td>
               <td class="remarks">
                    <span ng-if="entry.hasAssociatedTxn"
                         style="color:green;display:inline-block;"
                         class="glyphicon glyphicon-object-align-bottom"> </span>
                    <div ng-show="!entry.editing" ng-click="editEntry(entry)"
                         style="display:inline-block;">
                        {{entry.notes == null ? "---" : entry.notes}}
                    </div>
                    <div ng-show="entry.editing"
                         style="display:inline-block;">
                        <input class='form-field' 
                               type="text" 
                               ng-model="userSel.notes" 
                               ng-enter="saveEditedEntry(entry)"/> 
                    </div>
               </td>
               <td class="remarks">
                    <div ng-show="!entry.editing" ng-click="editEntry(entry)">
                        {{entry.l1Cat == null ? "---" : entry.l1Cat}}
                    </div>
                    <div ng-show="entry.editing">
                        <select class="form-field" 
                                ng-model="userSel.l1Cat"
                                ng-options="item for item in relevantCategoriesForSelectedEntries.l1Categories">
                            <option value=""></option>
                        </select>
                    </div>
               </td>
               <td class="remarks">
                    <div ng-show="!entry.editing" ng-click="editEntry(entry)">
                        {{entry.l2Cat == null ? "---" : entry.l2Cat}}
                    </div>
                    <div ng-show="entry.editing">
                        <select class="form-field" 
                                ng-model="userSel.l2Cat"
                                ng-change="saveEditedEntry(entry)"
                                ng-options="item for item in relevantCategoriesForSelectedEntries.l2Categories.get(userSel.l1Cat)">
                            <option value=""></option>
                        </select>
                    </div>
               </td>
               <td ng-if="searchQuery.accountIds.length == 1"
                   class="fixed-font amt">
                    {{entry.balance | amt}}
               </td>
               <td>
                 <span class="glyphicon glyphicon-trash"
                       ng-click="deleteLedgerEntry( $index )"></span>
               </td>
            </tr>
        </tbody>
    </table>
</div>