<div id="nav-panel">
    <button class="btn"
            ng-class="getTabActivationClass( 'Debit' )"
            ng-click="showDebitEntries()">
      Edit Debit Entries
    </button>
    
	<button class="btn"
	        ng-class="getTabActivationClass( 'Credit' )"
	        ng-click="showCreditEntries()">
	  Edit Credit Entries
	</button>
</div>

<div ng-init="catType='Debit';catData=ledgerCategories.debit;"
     ng-if="activeCategory == 'Debit'"
     ng-include="'template/categories/ledger_cat_editor.html'">
</div>

<div ng-init="catType='Credit';catData=ledgerCategories.credit;"
     ng-if="activeCategory == 'Credit'"
     ng-include="'template/categories/ledger_cat_editor.html'">
</div>

<div id="changeParentCategoryDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'template/categories/change_parent_category_dialog.html'">
</div>

<div id="viewLedgerEntriesDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'template/categories/view_ledger_entries_dialog.html'">
</div>

<div id="mergeLedgerCategoryDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'template/categories/merge_category_dialog.html'">
</div>

<div id="yearlyCapEditDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'template/categories/yearly_cap_editor_dialog.html'">
</div>