<div id="cfg-ctlr-controls">
	<select id="select-group-name"
	        ng-model="selectedCfgGroup"
	        ng-options="item for item in cfgGroupNames"
	        ng-change="groupChanged()">
	</select>
</div>

<div id="cfg-listing">
	<table id="cfg-listing-table"
	       class="pure-table pure-table-bordered">
	   <thead>
	       <tr>
	           <th width="30px"></th>
	           <th width="200px">Group</th>
	           <th width="250px">Config Name</th>
	           <th width="300px">Config Value</th>
               <th class="cfg-description">Description</th>
               <th width="30px"></th>
	       </tr>
	   </thead>
	   <tbody>
	       <tr ng-repeat="cfg in groupedCfgs">
	           <td>
                 <a ng-if="!isEditing"
                    ng-click="editConfig( cfg )">
                    <span class="glyphicon glyphicon-pencil"></span>
                 </a>	           
                 <a ng-if="cfg.editing"
                    ng-click="cancelEditing()">
                    <span class="glyphicon glyphicon-remove-circle"
                          style="color:red;"></span>
                 </a>              
               </td>
	           <td class="fixed-font">{{cfg.groupName}}</td>
	           <td class="fixed-font">{{cfg.configName}}</td>
	           <td>
	               <div ng-if="!cfg.editing"
	                    ng-dblclick="editConfig( cfg )"
	                    class="fixed-font">
		               {{cfg.value}}
	               </div>
                   <div ng-if="cfg.editing" style="width:100%">
                       <input type="text"
                              ng-enter="saveConfig( cfg )"
                              ng-escape="cancelEditing()"
                              ng-model="tempEditValues.value"
                              style="width:100%;"/>
                   </div>
	           </td>
               <td>
                   <div ng-if="!cfg.editing">
                       {{cfg.description}}
                   </div>
                   <div ng-if="cfg.editing" style="width:100%">
                       <input type="text"
                              ng-enter="saveConfig( cfg )"
                              ng-escape="cancelEditing()"
                              ng-model="tempEditValues.description"
                              style="width:100%;"/>
                   </div>
               </td>
               <td>
                 <a ng-click="saveConfig( cfg )"
                    ng-if="cfg.editing">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                 </a>              
               </td>
	       </tr>
	   </tbody>
	</table>
</div>
