<div class="modal-dialog" 
     style="width:600px;"
     ng-controller="UploadAccountStmtController">
     
  <div class="modal-content" >
    <div class="modal-header" style="background-color:#E5E5E5;padding:5px">
      <h4 class="modal-title">Upload Account Statements</h4>
    </div>

	<div class="modal-body"
		style="background-color: #FEFEFE; padding: 5px">
        <b>Account : </b> {{$parent.stmtUploadAccount.accountNumber }} ::
                          {{$parent.stmtUploadAccount.shortName}}
        <span style="height:10px;display:block;"></span>
        
        <button ngf-select="uploadFiles($files)" multiple>Select Files</button>
		
		<br>
	    Files:
	    <ul>
	        <li ng-repeat="f in files" style="font:smaller">
	            {{f.name}}
	        </li>
	    </ul>
	    Progress:
	    <br>
	    <span class="progress" ng-show="progress >= 0">
	        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
	    </span>
	</div>

    <div class="modal-footer">
      <button type="button" 
              class="btn btn-default btn-sm" 
              ng-click="cancelDialog()">
            Cancel
      </button>
    </div>
  </div>
</div>
