<div class="page-menu-bar">
</div>

<div style="padding: 0px; margin: 10px" align="center">
    <table class="table table-bordered table-compact js-sort-table"
           style="width: auto !important;">
        <thead>
            <tr class="success">
                <th></th>
                <th>Owner</th>
                <th>Company</th>
                <th>Qty</th>
                <th>Price</th>
                <th class="js-sort-number">LTCG%</th>
                <th class="js-sort-number">Cost price</th>
                <th class="js-sort-number">Value</th>
                <th class="js-sort-number">Profit</th>
                <th class="js-sort-number">Profit %</th>
                <th><a ng-click="triggerJob()">Last update</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="holding in equityHoldings"
                ng-class="getRowClass( holding )"
                ng-show="holding.visible">
                
               <td>
                 <input type="checkbox" 
                        ng-model="holding.selected"
                        ng-change="holdingSelectionChanged( holding )"/>
               </td>
               <td ng-dblclick="selectAllHoldingsForOwner( holding.ownerName )">
                    {{holding.ownerName}}
               </td>
               <td ng-dblclick="selectAllHoldingsForSymbol( holding.symbolIcici )"
                   style="font-size:11px;">
                   [{{holding.symbolIcici}}] {{holding.companyName}}
               </td>
               <td class="fixed-font amt">{{holding.quantity}}</td>
               <td class="fixed-font amt">{{holding.currentMktPrice}}</td>
               <td class="fixed-font amt">{{(holding.ltcgQty/holding.quantity)*100 | number:1.0-1}}%</td>
               <td class="fixed-font amt">{{holding.valueAtCost | amt}}</td>
               <td class="fixed-font amt">{{holding.valueAtMktPrice | amt}}</td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.profitPostTax)">
                   {{holding.profitPostTax | amt}}
               </td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.profitPctPostTax)">
                   {{holding.profitPctPostTax | amt}}%</td>
               <td>{{holding.lastUpdate | date : "dd MMM" }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <th colspan="6"></th>
                <th class="fixed-font amt">{{totalValueAtCost | amt}}</th>
                <th class="fixed-font amt">{{totalValueAtNav | amt}}</th>
                <th class="fixed-font amt">{{totalProfit | amt}}</th>
                <th class="fixed-font amt">{{totalProfitPct | amt}}%</th>
                <th></th>
            </tr>
            <tr class="success">
                <th colspan="6"></th>
                <th class="fixed-font amt">{{valueAtCostOfSelectedHoldings | amt}}</th>
                <th class="fixed-font amt">{{redemptionValueOfSelectedHoldings | amt}}</th>
                <th class="fixed-font amt">{{profitValueOfSelectedHoldings | amt}}</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
