<div class="panel-heading">
  <h4 class="panel-title">
    <input type="checkbox" 
           ng-model="config.enableFlag"
           ng-change="enableFlagUpdated()"/>
    &nbsp;
    <a data-target="#keltner" data-toggle="collapse">
    Keltner
    </a>
  </h4>
</div>

<div id="keltner" 
     class="panel-collapse collapse form indicator-options">
	<div>
	    <table>
	        <tr>
	            <td style="width:60%">EMA count</td>
	            <td style="width:40%">
	               <input type="numeric"
	                      ng-model="config.emaCount"
	                      style="width:100%;"/>
	            </td>
	        </tr>
	        <tr>
	            <td>ATR count</td>
	            <td>
	               <input type="numeric"
	                      ng-model="config.atrCount"
	                      style="width:100%;"/>
	            </td>
	        </tr>
	        <tr>
	            <td>ATR scale</td>
	            <td>
	               <input type="numeric"
	                      ng-model="config.atrScale"
	                      style="width:100%;"/>
	            </td>
	        </tr>
	    </table>
	    <div style="text-align:right;">
	        <button type="button"
	                class="btn btn-info indicator-cfg-btn"
	                ng-click="hideKeltnerChannel()"
	                style="color:#800200;">
	           <span class="glyphicon glyphicon-remove"></span>
	        </button>
	        <button type="button"
	                class="btn btn-info indicator-cfg-btn"
	                ng-click="fetchKeltnerChannel()"
	                style="color:green;">
	           <span class="glyphicon glyphicon-ok"></span>
	        </button>
	    </div>
	</div>
</div>





