<table class="pure-table pure-table-bordered">
   <thead>
       <tr>
           <th>
	            <a ng-click="showIndexMetaEditDialog(null)">
	                <span class="glyphicon glyphicon-plus"></span>
	            </a>
           </th>
           <th width="100px">Type</th>
           <th width="200px">Name</th>
       </tr>
   </thead>
   <tbody>
    <tr ng-repeat="idx in idxList">
        <td>
            <a ng-click="showIndexMetaEditDialog( idx )">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
        <td>{{idx.type}}</td>
        <td>
            <a href="{{idx.includedStocksUrl}}">
                <span class="glyphicon glyphicon-link"></span>
            </a>&nbsp;&nbsp;
            {{idx.name}}
        </td>
    </tr>
   </tbody>
</table>

<div id="idxMetaEditorDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'route/idx/dialog/idxmeta_editor_dialog.html'">
</div>