<div class="panel-group" id="acc" style="font-size:12px;padding:5px;">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-target="#equityMaster" data-toggle="collapse" data-parent="#acc">
        Equity Master
        </a>
      </h4>
    </div>
    <div id="equityMaster" class="panel-collapse form action-div">
        <div class="explanation">
            Refreshes the NSE equity master table. 
        </div>
        <div ng-repeat="ota in [$parent.otaStat[ 'RefreshEquityMaster' ]]" 
             ng-include="'route/actions/template/action.html'"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-target="#idirectMapping" data-toggle="collapse" data-parent="#acc">
        ICICI Direct Symbol Mapping
        </a>
      </h4>
    </div>
    <div id="#idirectMapping" class="panel-collapse form action-div">
        <div class="explanation">
            Refreshes the mapping of NSE and ICICIDirect stock symbols 
        </div>
        <div ng-repeat="ota in [$parent.otaStat[ 'MapICICIDirectSymbols' ]]" 
             ng-include="'route/actions/template/action.html'"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-target="#histIdxDataUpdater" data-toggle="collapse" data-parent="#acc">
        Historic Index data importer
        </a>
      </h4>
    </div>
    <div id="#histIdxDataUpdater" class="panel-collapse form action-div">
        <div class="explanation">
            Updates historic Index data
        </div>
        <div ng-repeat="ota in [$parent.otaStat[ 'HistoricIdxDataImporter' ]]" 
             ng-include="'route/actions/template/action.html'"></div>
    </div>
  </div>
  
</div>