<div class="panel-group" id="acc" style="font-size:12px;padding:5px;">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-target="#equityMaster" data-toggle="collapse" data-parent="#acc">
        Equity Master
        </a>
      </h4>
    </div>
    <div id="equityMaster" class="panel-collapse form action-div"
         ng-init="ota=$parent.otaStat[ 'RefreshEquityMaster' ]">
        <div class="explanation">
            Refreshes the NSE equity master table by populating equity 
            symbol, company name and ISIN. 
        </div>
        <div ng-include="'route/actions/template/action.html'"></div>
    </div>
  </div>

</div>