<div id="nav-panel">
	<button class="btn"
	        ng-class="getTabActivationClass( 'Credit' )"
	        ng-click="showCreditEntries()">
	  Edit Credit Entries
	</button>
	
    <button class="btn"
            ng-class="getTabActivationClass( 'Debit' )"
            ng-click="showDebitEntries()">
      Edit Debit Entries
    </button>
</div>

<div id="credit-entries" ng-show="activeCategory == 'Credit'">
	<nav>
	  <ol class="breadcrumb" style="background-color:#eef4fa;">
	    <li class="breadcrumb-item" style="color:#444;">Credit Entries</li>
	  </ol>
	</nav>
	<div ng-repeat="catName in ledgerCategories.credit.l1Categories">
	    <h3>{{catName}}</h3>
	    <ul>
	    <div ng-repeat="cat in ledgerCategories.credit.l2Categories.get( catName )">
	         <li>{{cat.l2CatName}}</li>
	    </div>
	    </ul>
	</div>
</div>

<div id="debit-entries" ng-show="activeCategory == 'Debit'">
    <nav>
      <ol class="breadcrumb" style="background-color:#eef4fa;">
        <li class="breadcrumb-item" style="color:#444;">Debit Entries</li>
      </ol>
    </nav>
	<div ng-repeat="catName in ledgerCategories.debit.l1Categories">
	    <h3>{{catName}}</h3>
	    <ul>
	    <div ng-repeat="cat in ledgerCategories.debit.l2Categories.get( catName )">
	         <li>{{cat.l2CatName}}</li>
	    </div>
	    </ul>
	</div>
</div>
