<div class="modal-dialog" 
     style="width:400px;">
     
  <div class="modal-content" >
    <div class="modal-header" style="background-color:#C5C5C5;padding:5px">
      <h3 class="modal-title">Choose new category for merging</h3>
    </div>
    
    <div class="modal-body" style="background-color:#FEFEFE;padding:5px">
	    <div class="form">
	        <table class="form-table">
	            <tbody>
	                <tr>
	                    <td>
	                        <label>Select existing L1 category</label>
	                        <select class="form-field" 
	                                ng-model="catEditCtx.selectedL1CatName"
	                                ng-options="item.displayName as item.displayName for item in catEditCtx.catData.l1Categories">
	                            <option value=""></option>
	                        </select>
                            <label>(or) Enter new L1 category</label>
	                        <input class='form-field' 
	                               type="text"
	                               ng-change="newL1CatNameEntered()"
	                               ng-model="catEditCtx.newL1CatName" /> 
	                    </td>
	                </tr>
	                <tr>
	                   <td>&nbsp;</td>
	                </tr>
                    <tr>
                        <td>
                            <label>Select existing L2 category</label>
                            <select class="form-field" 
                                    ng-model="catEditCtx.selectedL2CatName"
                                    ng-options="item.l2CatName as item.l2CatName for item in catEditCtx.catData.l2Categories.get(catEditCtx.selectedL1CatName  )">
                                <option value=""></option>
                            </select>
                            <label>(or) Enter new L2 category</label>
                            <input class='form-field' 
                                   type="text"
                                   ng-change="newL2CatNameEntered()"
                                   ng-model="catEditCtx.newL2CatName" /> 
                        </td>
                    </tr>
	            </tbody>
	        </table>
	    </div>
    </div>
    
    <div class="modal-footer">
      <button type="button" 
              class="btn btn-default btn-sm" 
              ng-click="hideMergeCategoryDialog()">
            Cancel
      </button>
      <button type="button" 
              class="btn btn-info btn-sm"
              ng-click="mergeCategory()">
            Merge
      </button>
    </div>
    
    <p>
  </div>
</div>
