<div class="page-menu-bar">
    <button class="btn btn-default btn-sm"
            ng-click="showCategorizationDialog()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Categorize Selected Entries
    </button>
    <button class="btn btn-default btn-sm"
            ng-click="toggleControlPanel()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Toggle control panel
    </button>
    <button class="btn btn-default btn-sm"
            ng-click="exportLedgerAsExcel()">
        <span class="glyphicon glyphicon-save"></span>
        Export
    </button>
    <button class="btn btn-default btn-sm"
            style="float: right"
            ng-click="deleteSelectedEntries()">
        <span class="glyphicon glyphicon-remove-circle" style="color:red"></span>
        Delete Selected Entries
    </button>
</div>
<div style="padding: 0px; margin: 10px" align="center">
    <table class="ledger-table"
           style="width: 100%;">
        <thead>
            <tr class="success">
                <th style="width:25px;"></th>
                <th style="width:25px;" class="js-sort-none">
                 <input type="checkbox" 
                        ng-model="bulkSelState.value"
                        ng-change="toggleSelectionForAllEntries()"/>
                </th>
                <th style="width:100px;" class="js-sort-valueDate">Date</th>
                <th style="width:450px;">
                    <div style="display:block;text-align: center;">
                        <label for="remarkFilter">Remarks</label>
                    </div>
                    <div style="display:block;padding-left:5px;">
	                    <input type="text"
                               id="remarkFilter"
	                           ng-model="$parent.remarksFilterText"
	                           ng-change="remarksFilterTextChanged()"
	                           size="50"/>
                    </div>
                </th>
                <th ng-if="searchQuery.accountIds.length > 1"
                    style="width:75px;">
                    Owner
                </th>
                <th style="width:25px;"></th>
                <th style="width:100px;" class="js-sort-number">
                    <div style="display:block;text-align: center;">
                        <label for="amountFilter">Amount</label>
                    </div>
                    <div style="display:block;padding-left:5px;">
                        <input type="text"
                               id="amountFilter"
                               ng-model="$parent.amountFilterText"
                               ng-change="amountFilterTextChanged()"
                               size="12"/>
                    </div>
                </th>
                <th style="width:200px;">
                    <div style="display:block;text-align: center;">
                        <label for="notesFilter">Notes</label>
                    </div>
                    <div style="display:block;padding-left:5px;">
                        <input type="text"
                               id="notesFilter"
                               ng-model="$parent.notesFilterText"
                               ng-change="notesFilterTextChanged()"
                               size="25"/>
                    </div>
                </th>
                <th style="width:130px;">
                    <div style="display:block;text-align: center;">
                        <label for="l1Filter">L1</label>
                    </div>
                    <div style="display:block;padding-left:5px;">
                        <input type="text"
                               id="l1Filter"
                               ng-model="$parent.l1FilterText"
                               ng-change="l1FilterTextChanged()"
                               size="17"/>
                    </div>
                </th>
                <th style="width:130px;">
                    <div style="display:block;text-align: center;">
                        <label for="l2Filter">L1</label>
                    </div>
                    <div style="display:block;padding-left:5px;">
                        <input type="text"
                               id="l2Filter"
                               ng-model="$parent.l2FilterText"
                               ng-change="l2FilterTextChanged()"
                               size="17"/>
                    </div>
                </th>
                <th class="js-sort-number"
                    ng-if="searchQuery.accountIds.length == 1"
                    style="width:150px;">Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in $parent.ledgerEntries"
                ng-show="entry.visible"
                ng-class="entry.selected ? 'row-selected' : ''">
               <td>
                 <span class="glyphicon glyphicon-plus-sign"
                       ng-click="selectAndCategorize( entry )"></span>
               </td>
               <td>
                 <input type="checkbox" 
                        ng-model="entry.selected"/>
               </td>
               <td class="fixed-font">{{entry.valueDate | date}}</td>
               <td class="remarks" ng-click="selectEntry(entry)">
	               {{entry.remarks | remark}}
	               &nbsp;
	               <span ng-if="entry.chequePayment"
	                     class="glyphicon glyphicon-map-marker"></span>
                   <span ng-if="isCreditCardEntry( entry )"
                         class="glyphicon glyphicon-subtitles"></span>
                   <span ng-if="isCashEntry( entry )"
                         class="glyphicon glyphicon-leaf"></span>
               </td>
               <td ng-if="searchQuery.accountIds.length > 1">
                    {{entry.account.accountOwner}}
               </td>
               <td>
                <span class="glyphicon glyphicon-scissors"
                      ng-if="entry.amount < 0"
                      ng-click="showSplitLedgerEntryDialog( $index )"></span>
                      
                <span class="glyphicon glyphicon-object-align-horizontal"
                      ng-if="entry.amount > 0"
                      style="color:lightgray;"
                      ng-click="showDebitRecoveryDialog( $index )"></span>
               </td>
               <td class="fixed-font amt" ng-class="amtClass( entry.amount )">{{entry.amount | amt}}</td>
               <td class="remarks">
                    <a ng-if="entry.hasAssociatedTxn && (entry.amount < 0)"
                       ng-click="showAssociatedCreditsDialog( $index )">
	                    <span ng-if="entry.hasAssociatedTxn"
	                          style="color:green;display:inline-block;"
	                          class="glyphicon glyphicon-object-align-bottom"> </span>
                    </a>
                    <span ng-if="entry.hasAssociatedTxn && (entry.amount > 0)"
                          style="color:green;display:inline-block;"
                          class="glyphicon glyphicon-object-align-bottom"> </span>
                          
                    <div ng-show="!entry.editing" ng-click="editEntry(entry)"
                         style="display:inline-block;">
                        {{entry.notes == null ? "---" : entry.notes}}
                    </div>
                    
                    <div ng-show="entry.editing"
                         style="display:inline-block;">
                        <input class='form-field' 
                               type="text" 
                               ng-model="userSel.notes" 
                               ng-enter="saveEditedEntry(entry)"/> 
                    </div>
               </td>
               <td class="remarks">
                    <div ng-show="!entry.editing" ng-click="editEntry(entry)">
                        {{entry.l1Cat == null ? "---" : entry.l1Cat}}
                    </div>
                    <div ng-show="entry.editing">
                        <select class="form-field" 
                                ng-model="userSel.l1Cat"
                                ng-options="item for item in relevantCategoriesForSelectedEntries.l1Categories">
                            <option value=""></option>
                        </select>
                    </div>
               </td>
               <td class="remarks">
                    <div ng-show="!entry.editing" ng-click="editEntry(entry)">
                        {{entry.l2Cat == null ? "---" : entry.l2Cat}}
                    </div>
                    <div ng-show="entry.editing">
                        <select class="form-field" 
                                ng-model="userSel.l2Cat"
                                ng-change="saveEditedEntry(entry)"
                                ng-options="item for item in relevantCategoriesForSelectedEntries.l2Categories.get(userSel.l1Cat)">
                            <option value=""></option>
                        </select>
                    </div>
               </td>
               <td ng-if="searchQuery.accountIds.length == 1"
                   class="fixed-font amt">
                    {{entry.balance | amt}}
               </td>
               <td style="text-align: right;">
                 <span class="glyphicon glyphicon-trash"
                       style="color:red;"
                       ng-click="deleteLedgerEntry( $index )"></span>
               </td>
            </tr>
        </tbody>
    </table>
</div>
