<div class="modal-dialog" style="width:300px;">
     
  <div class="modal-content" >
    <div class="modal-header" style="background-color:#E5E5E5;padding:5px">
      <h4 class="modal-title">Recover debit transaction</h4>
    </div>
    
    <div class="modal-body" style="background-color:#FEFEFE;padding:5px">
    
	    <div class="form">
	    </div>
    
	    <div class="modal-footer">
	      <button type="button" 
	              class="btn btn-default btn-sm" 
	              ng-click="hideDebitRecoveryDialog()">
	            Cancel
	      </button>
	      <button type="button" 
	              class="btn btn-info btn-sm"
	              ng-click="saveSplitLedgerEntry()">
	            Save
	      </button>
	    </div>
    </div>
    
  </div>

</div>
