<div class="page-menu-bar">
</div>

<div style="padding: 0px; margin: 10px" align="center">
    <table class="table table-bordered table-compact js-sort-table"
           style="width: auto !important;">
        <thead>
            <tr class="success">
                <th></th>
                <th></th>
                <th>Owner</th>
                <th>Scheme</th>
                <th>Category</th>
                <th class="js-sort-number">Cost price</th>
                <th class="js-sort-number">Value</th>
                <th class="js-sort-number">P/L</th>
                <th class="js-sort-number">P/L%</th>
                <th class="js-sort-number">LTCG%</th>
                <th class="js-sort-number">Mths</th>
                <th class="js-sort-number">YoY%</th>
                <th><a ng-click="triggerJob()">Last update</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="holding in mfHoldings"
                ng-class="getRowClass( holding )">
               <td>
                 <span class="glyphicon glyphicon-pencil"
                       ng-click="showEditInfoDialog( $index )">
                 </span>&nbsp;
               </td>
               <td>
                 <input type="checkbox" 
                        ng-model="holding.selected"
                        ng-change="mfSelectionChanged( holding )"/>
               </td>
               <td>{{holding.ownerName}}</td>
               <td style="font-size:11px;">
                   <span ng-if="holding.url == null">
                       {{holding.scheme}}
                   </span>
                   <a ng-if="holding.url != null"
                      href="{{holding.url}}"
                      target="_blank">
                       {{holding.scheme}}
                   </a>
               </td>
               <td>{{holding.category | uppercase}}</td>
               <td class="fixed-font amt">{{holding.valueAtCost | amt}}</td>
               <td class="fixed-font amt">{{holding.valueAtNavAfterTax | amt}}</td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.profitLossAmtAfterTax)">
                   {{holding.profitLossAmtAfterTax | amt}}
               </td>
               <td class="fixed-font amt" 
                   ng-class="getAmtClass(holding.profitLossAmtPctAfterTax)">
                   {{holding.profitLossAmtPctAfterTax | number:1}}%
               </td>
               <td class="fixed-font amt">
                   {{holding.ltcgQualPct | amt}}%
               </td>
               <td class="fixed-font amt">{{holding.avgHoldingMonths | amt}}</td>
               <td class="fixed-font amt"
                   ng-class="getAmtClass(holding.yearlyGrowthPct)">
                   {{holding.yearlyGrowthPct | number:1}}%
               </td>
               <td>
                {{holding.lastUpdate | date : "dd MMM"}}
               </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <th colspan="5"></th>
                <th class="fixed-font amt">{{totalValueAtCost | amt}}</th>
                <th class="fixed-font amt">{{totalValueAtNav | amt}}</th>
                <th class="fixed-font amt">{{totalProfitLossAfterTax | amt}}</th>
                <th colspan="4"></th>
                <th></th>
            </tr>
            <tr class="success">
                <th colspan="5"></th>
                <th class="fixed-font amt">{{valueAtCostOfSelectedHoldings | amt}}</th>
                <th class="fixed-font amt">{{redemptionValueOfSelectedHoldings | amt}}</th>
                <th colspan="5"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="mfEditInfoDialog" 
     class="modal" 
     role="dialog"
     data-backdrop="static"
     ng-include="'mf/edit_info_dialog.html'">
</div>


