.green0 {
    background-color: white;
}

.green1 {
	background-color: #f7fff7;
}

.green2 {
    background-color: #efffef;
}

.green3 {
    background-color: #e8ffe8;
}

.green4 {
    background-color: #e0ffe0;
}

.green5 {
    background-color: #d8ffd8;
}

.green6 {
    background-color: #d1ffd1;
}

.green7 {
    background-color: #c9ffc9;
}

.green8 {
    background-color: #c1ffc1;
}

.green9 {
    background-color: #baffba;
}

.green10 {
    background-color: #b2ffb2;
}

.red0 {
    background-color: white;
}

.red1 {
    background-color: #fff7f7;
}

.red2 {
    background-color: #ffefef;
}

.red3 {
    background-color: #ffe8e8;
}

.red4 {
    background-color: #ffe0e0;
}

.red5 {
    background-color: #ffd8d9;
}

.red6 {
    background-color: #ffd1d1;
}

.red7 {
    background-color: #ffc9ca;
}

.red8 {
    background-color: #ffc1c2;
}

.red9 {
    background-color: #ffbabb;
}

.red10 {
    background-color: #ffb2b3;
}