<div class="panel-heading">
  <h4 class="panel-title">
    <input type="checkbox" 
           ng-model="config.enableFlag"
           ng-change="enableFlagUpdated()"/>
    &nbsp;
    <a data-target="#macd" data-toggle="collapse">
    MACD
    </a>
  </h4>
</div>

<div id="macd" 
     class="panel-collapse collapse form indicator-options">
	<div>
	    <table>
	        <tr>
	            <td style="width:60%">Min window</td>
	            <td style="width:40%">
	               <input type="numeric"
	                      ng-model="config.minWindowSize"
	                      style="width:100%;"/>
	            </td>
	        </tr>
	        <tr>
	            <td>Max window</td>
	            <td>
	               <input type="numeric"
	                      ng-model="config.maxWindowSize"
	                      style="width:100%;"/>
	            </td>
	        </tr>
	        <tr>
	            <td>Signal window</td>
	            <td>
	               <input type="numeric"
	                      ng-model="config.sigWindowSize"
	                      style="width:100%;"/>
	            </td>
	        </tr>
	    </table>
	    <div style="text-align:right;">
	        <button type="button"
	                class="btn btn-info indicator-cfg-btn"
	                ng-click="hideMACDChart()"
	                style="color:#800200;">
	           <span class="glyphicon glyphicon-remove"></span>
	        </button>
	        <button type="button"
	                class="btn btn-info indicator-cfg-btn"
	                ng-click="showMACDChart()"
	                style="color:green;">
	           <span class="glyphicon glyphicon-ok"></span>
	        </button>
	    </div>
	</div>
</div>





