<table>
    <thead>
	    <tr>
	        <th width="40px"></th>
	        <th width="35px">SMA</th>
	        <th width="35px">EMA</th>
	    </tr>
    </thead>
    <tbody>
		<tr ng-repeat="(window, value) in maGraphs">
		    <td>
		       <span ng-style="{'color':value.color, 'font-weight':700}">
		          {{window}}
		       </span>
		    </td>
		    <td>
			    <input type="checkbox" 
			           ng-model="maGraphs[window].smaEnabled"
			           ng-change="maGraphOptionsChanged( 'sma', window )"/>
			</td>
            <td>
                <input type="checkbox" 
                       ng-model="maGraphs[window].emaEnabled"
                       ng-change="maGraphOptionsChanged( 'ema', window )"/>
            </td>
		</div>
    </tbody>
</table>
